In [1]:
import os
import pyodbc
import shutil
import pandas as pd
import pydicom
from datetime import datetime
from datetime import date

In [2]:
#connect to mssql
server = '128.1.99.58'
database = 'ID_XYLITOL_WHITE'
username = 'hihipch'
password = 'gks1dls!'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [3]:
# CDM531 cohort (Image shooting on the day of admission to ER)
# '4163872' : plain chest X-ray / '4125350' : CT of head
ERchestXRquery='''select * 
from (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' 
    from [CDMPv531].[dbo].[visit_occurrence] visit
    join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_start_date = pro.procedure_date
where procedure_concept_id='4163872' and visit_concept_id in (9203, 262))v'''

ERbrainCTquery='''select * 
from (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' from [CDMPv531].[dbo].[visit_occurrence] visit
join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_start_date = pro.procedure_date where visit_concept_id in (9203, 262) and procedure_concept_id in (select concept_id from [CDMPv531].[dbo].CONCEPT where concept_id in (4125350)and invalid_reason is null
UNION  select c.concept_id
  from [CDMPv531].[dbo].CONCEPT c
  join [CDMPv531].[dbo].CONCEPT_ANCESTOR ca on c.concept_id = ca.descendant_concept_id
  and ca.ancestor_concept_id in (4125350)
  and c.invalid_reason is null))v'''

SQL_Query = pd.read_sql_query(ERbrainCTquery, cnxn)
# Save CDM531 person id
SQL_Query[['person_id']].drop_duplicates().to_csv('C:/Users/ABMI/Desktop/test/ERbrainCT.csv')
SQL_Query

        person_id  visit_concept_id visit_start_date visit_end_date  입원날짜
0           21754               262       2007-06-01     2007-06-05     4
1           21754               262       2012-08-20     2012-08-23     3
2           21796              9203       2007-06-01     2007-06-01     0
3           21982              9203       2009-06-01     2009-06-02     1
4           21982              9203       2012-11-24     2012-11-24     0
...           ...               ...              ...            ...   ...
147792    3111008               262       2018-02-19     2018-03-05    14
147793    3111081              9203       2015-07-19     2015-07-19     0
147794    3111083              9203       2016-10-18     2016-10-18     0
147795    3111521              9203       2010-10-12     2010-10-12     0
147796    3112210               262       2001-06-09     2001-06-27    18

[147797 rows x 5 columns]

In [4]:
# Connect person number of CDM531 & DW
keyfilepath='C:/Users/ABMI/Desktop/test/brainCTERresult.csv'
DWemr=pd.read_csv(keyfilepath)[['person_id', 'emr']]
DW531=pd.merge(SQL_Query, DWemr)
DW531.columns=['CDM531', 'visit_concept_id', 'visit_start_date', 'visit_end_date', '입원날짜', 'DW']
DW531

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW
0,21754,262,2007-06-01,2007-06-05,4,46626
1,21754,262,2012-08-20,2012-08-23,3,46626
2,21982,9203,2009-06-01,2009-06-02,1,3274
3,21982,9203,2012-11-24,2012-11-24,0,3274
4,21982,9203,2014-07-22,2014-07-22,0,3274
...,...,...,...,...,...,...
109447,3111008,262,2018-02-19,2018-03-05,14,296196
109448,3111081,9203,2015-07-19,2015-07-19,0,315722
109449,3111083,9203,2016-10-18,2016-10-18,0,456153
109450,3111521,9203,2010-10-12,2010-10-12,0,321058
109451,3112210,262,2001-06-09,2001-06-27,18,393788

In [5]:
# Connect person number of EMR & CDM531
DWemrquery='''SELECT * FROM [DW].[dbo].[PERSON_LIST]
'''
DWemr = pd.read_sql_query(DWemrquery, cnxn)
DWemr.columns=['DW', 'EMR']
EMR531=pd.merge(DW531, DWemr)
EMR531

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW,EMR
0,21754,262,2007-06-01,2007-06-05,4,46626,2233819
1,21754,262,2012-08-20,2012-08-23,3,46626,2233819
2,21982,9203,2009-06-01,2009-06-02,1,3274,1928539
3,21982,9203,2012-11-24,2012-11-24,0,3274,1928539
4,21982,9203,2014-07-22,2014-07-22,0,3274,1928539
...,...,...,...,...,...,...,...
109447,3111008,262,2018-02-19,2018-03-05,14,296196,0246366
109448,3111081,9203,2015-07-19,2015-07-19,0,315722,0265994
109449,3111083,9203,2016-10-18,2016-10-18,0,456153,0407103
109450,3111521,9203,2010-10-12,2010-10-12,0,321058,0271354
109451,3112210,262,2001-06-09,2001-06-27,18,393788,0344396

In [6]:
# Select image of '3004287' from R-CDM
# '3004287' : CT head (LOINC - Measurement)
BrainCTRCDMquery='''SELECT ro.study_id, ro.study_date, ro.person_id, ro.information, ri.series_id, ri.series_serial_number, ri.series_total_number, ri.file_path 
FROM [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_OCCURRENCE] ro, [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_IMAGE] ri 
where Protocol_Concept_ID='3004287' and ri.study_id=ro.study_id'''
BrainCTRCDM=pd.read_sql_query(BrainCTRCDMquery, cnxn)
BrainCTRCDM.rename(columns = {'person_id' : 'EMR'}, inplace = True)

# Connect cohort person to R-CDM
BrainCT=pd.merge(EMR531, BrainCTRCDM, on='EMR')

#Send file path to storage server
BrainCT[['file_path']].to_csv('C:/Users/ABMI/Desktop/test/filepath.csv')
BrainCT

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW,EMR,study_id,study_date,information,series_id,series_serial_number,series_total_number,file_path
0,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161476,2009-07-16,"05 brain 3d,c-t brain 3d s,head,na",1.3.12.2.1107.5.1.4.50373.30000009071309435782...,1,1,E:\PACS\PACS\bkpnew15\20090716\E4264874\I00103...
1,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161476,2009-07-16,"05 brain 3d,c-t brain 3d s,head,na",1.3.12.2.1107.5.1.4.50373.30000009071200192192...,1,32,E:\PACS\PACS\bkpnew15\20090716\E4264874\I00103...
2,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161476,2009-07-16,"05 brain 3d,c-t brain 3d s,head,na",1.3.12.2.1107.5.1.4.50373.30000009071200192192...,2,32,E:\PACS\PACS\bkpnew15\20090716\E4264874\I00103...
3,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161476,2009-07-16,"05 brain 3d,c-t brain 3d s,head,na",1.3.12.2.1107.5.1.4.50373.30000009071200192192...,3,32,E:\PACS\PACS\bkpnew15\20090716\E4264874\I00103...
4,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161476,2009-07-16,"05 brain 3d,c-t brain 3d s,head,na",1.3.12.2.1107.5.1.4.50373.30000009071200192192...,4,32,E:\PACS\PACS\bkpnew15\20090716\E4264874\I00103...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129758,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study °e≫c,na,study °e≫c",1.2.840.113704.1.111.896.1178592965.13,26,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651513...
129759,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study °e≫c,na,study °e≫c",1.2.840.113704.1.111.896.1178592965.13,27,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651514...
129760,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study °e≫c,na,study °e≫c",1.2.840.113704.1.111.896.1178592965.13,28,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651515...
129761,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study °e≫c,na,study °e≫c",1.2.840.113704.1.111.896.1178592965.13,29,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651516...
129762,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study °e≫c,na,study °e≫c",1.2.840.113704.1.111.896.1178592965.13,30,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651517...

In [172]:
#getting training data for CNN image classifier
BrainCTpath='C:Users/ABMI/Desktop/test/brainCTclass/brainCTother'
BrainCTlist = []
for (path, dir, files) in os.walk(BrainCTpath):
    for filename in files:
        ext = os.path.splitext(filename)[-1]
        if ext == '.dcm':
            filePath = "{0}/{1}".format(path, filename)
            BrainCTlist.append(filePath)
            
for i in BrainCTlist:
    metadata=pydicom.dcmread(i)
    if metadata.SeriesDescription =='Topogram  1.0  T20s':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head--topogram')
    elif metadata.StudyDescription =='Head^02_BRAIN_BONE_3D (Adult)' and metadata.SeriesDescription == 'Batch 1':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-precon')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 1':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 2':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 3':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 4':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-sagittal-MIP')
    elif metadata.SeriesDescription == '<VRT Collection>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head--VRT')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range[1]>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>[2]':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>[3]':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-sagittal-MIP')

vrtquery='''
select top(1000) * from (
select [Filepath], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [SeriesDescription], [StudyDescription]
from (
    SELECT * 
    FROM [pacsAnonData].[dbo].[AnonData] 
    where ProtocolName like '%head%' or PerformedProcedureStepDescription like '%head%' or BodyPartExamined like '%head%' or StudyDescription like '%head%') v 
where Modality in ('CT')) v
where SeriesDescription like '%vrt%' and ProtocolName not like '%omu%' and ProtocolName not like '%fac%' and ProtocolName not like '%temporal%' and ProtocolName not like '%orbit%' and StudyDescription not like '%fac%' and StudyDescription not like '%orbit%' and StudyDescription not like '%temporal%' and StudyDescription not like '%OMU%'
'''
vrt = pd.read_sql_query(vrtquery, cnxn)

In [227]:
# use sqlalchemy
import sqlalchemy
engine=sqlalchemy.create_engine('mssql+pymssql://hihipch:gks1dls!@128.1.99.58/ID_XYLITOL_WHITE', echo=True)

EMR531.to_sql(
name='BrainCT531EMR', 
con=engine,
index=False, 
if_exists='fail')