In [173]:
import os
import pyodbc
import shutil
import pandas as pd
import pydicom
from datetime import datetime
from datetime import date

In [316]:
#connect to mssql
server = '128.1.99.58'
database = 'ID_XYLITOL_WHITE'
username = 'hihipch'
password = 'gks1dls!'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [74]:
#connect CDM531, R-CDM patients by date and person id
a='''select * 
from 
    (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' 
    from [CDMPv531].[dbo].[visit_occurrence] visit
    join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_start_date = pro.procedure_date
    where procedure_concept_id='4163872' and visit_concept_id in (9203, 262))v'''
b='''
select * 
from 
    (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' 
    from [CDMPv531].[dbo].[visit_occurrence] visit
    join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_occurrence_id = pro.visit_occurrence_id
    where procedure_concept_id='4163872' and visit_concept_id in (9203, 262))v
'''
c='''
select * 
from 
    (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' 
    from [CDMPv531].[dbo].[visit_occurrence] visit
    join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_occurrence_id = pro.visit_occurrence_id and visit.visit_start_date = pro.procedure_date
    where procedure_concept_id='4163872' and visit_concept_id in (9203, 262))v
'''
d='''SELECT TOP (1000) [anything]
  FROM [ID_XYLITOL_WHITE].[dbo].[test]'''
SQL_Query = pd.read_sql_query(a, cnxn)

In [75]:
#Connect person number of EMR & DW
mapping=pd.read_csv('C:/Users/ABMI/Desktop/test/result.csv')
mapping=mapping[['person_id', 'patno']]
ChestXraycohort=pd.merge(SQL_Query, mapping, on='person_id')
ChestXraycohort.columns=['person_id', 'visit_concept_id', 'StudyDate', 'visit_end_date', 'AdmissionDate', 'PatientID']
def studydate(date):
    return date[:10].replace('-','')
ChestXraycohort['StudyDate']=ChestXraycohort['StudyDate'].map(studydate)

In [54]:
#Chest X-ray from Anondata
CXRquery='''select [Filepath], [PatientID], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [Modality], [SeriesDescription], [StudyDescription], [StudyDate], [StudyTime]
from (
    SELECT * 
    FROM [pacsAnonData].[dbo].[AnonData] 
    where ProtocolName like '%chest%' or PerformedProcedureStepDescription like '%chest%' or BodyPartExamined like '%chest%' or StudyDescription like '%chest%') v 
where Modality in ('CR', 'DX')'''

AnondataCXR = pd.read_sql_query(CXRquery, cnxn)

In [117]:
headCTquery='''
select [Filepath], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [SeriesDescription], [StudyDescription]
from (
    SELECT * 
    FROM [pacsAnonData].[dbo].[AnonData] 
    where ProtocolName like '%head%' or PerformedProcedureStepDescription like '%head%' or BodyPartExamined like '%head%' or StudyDescription like '%head%') v 
where Modality in ('CT')
'''
AnondataHead = pd.read_sql_query(headCTquery, cnxn)

In [129]:
AnondataHeadCount=AnondataHead.groupby(['ProtocolName','PerformedProcedureStepDescription', 'BodyPartExamined', 'SeriesDescription', 'StudyDescription']).size().reset_index(name='Count')
AnondataHeadCount=AnondataHeadCount.sort_values(by=['Count'], axis=0, ascending=False)
AnondataHeadCount=AnondataHeadCount.reset_index(drop=True)

##
for i in range(1):
    df=AnondataHead.loc[(AnondataHead['ProtocolName'] == AnondataHeadCount['ProtocolName'][i]) & (AnondataHead['BodyPartExamined'] == AnondataHeadCount['BodyPartExamined'][i]) & (AnondataHead['SeriesDescription'] == AnondataHeadCount['SeriesDescription'][i]) & (AnondataHead['StudyDescription'] == AnondataHeadCount['StudyDescription'][i]) & (AnondataHead['PerformedProcedureStepDescription'] == AnondataHeadCount['PerformedProcedureStepDescription'][i])]
    df = df.sample(frac=1).reset_index(drop=True)
    filepath=df[:10]['Filepath']
    for j in filepath:
        shutil.copy(filepath, )

,Filepath,ProtocolName,PerformedProcedureStepDescription,BodyPartExamined,SeriesDescription,StudyDescription
0,E:\PACS\PACS\bkpnew18\20070922\E2790958\I00057...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
1,E:\PACS\PACS\bkpnew13\20090408\E4022186\I00095...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
2,H:\PACS\bkpnew6\20061019\E2104179\I00039791547...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
3,E:\PACS\PACS\bkpnew13\20090518\E4117648\I00098...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
4,E:\PACS\PACS\bkpnew13\20090403\E4013371\I00094...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
...,...,...,...,...,...,...
112533,E:\PACS\PACS\bkpnew13\20090621\E4203691\I00101...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
112534,E:\PACS\PACS\bkpnew14\20090612\E4182511\I00100...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
112535,E:\PACS\PACS\bkpnew13\20090613\E4183734\I00100...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
112536,E:\PACS\PACS\bkpnew18\20070926\E2794237\I00057...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)
112537,E:\PACS\PACS\bkpnew13\20090518\E4118855\I00098...,00 NEUR BRAIN ANGIO,NA,HEAD,<MIP Thin Range[3]>,Head^00 NEUR BRAIN ANGIO (Adult)

In [59]:
#Chest X-ray from Anondata2
CXRquery='''select [Filepath], [PatientID], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [Modality], [SeriesDescription], [StudyDescription], [StudyDate], [StudyTime]
from (
    SELECT * 
    FROM [pacsAnonData].[dbo].[AnonData2] 
    where ProtocolName like '%chest%' or PerformedProcedureStepDescription like '%chest%' or BodyPartExamined like '%chest%' or StudyDescription like '%chest%') v 
where Modality in ('CR', 'DX')'''

query='''
select [Filepath], [PatientID], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [Modality], [SeriesDescription], [StudyDescription], [StudyDate], [StudyTime]
from [pacsAnonData].[dbo].[AnonData2] 
where Modality in ('CR', 'DX')
'''
Anondata2CXR = pd.read_sql_query(CXRquery, cnxn)

In [76]:
print(len(set(AnondataCXR['PatientID'])&set(ChestXraycohort['PatientID'])))
print(len(set(Anondata2CXR['PatientID'])&set(ChestXraycohort['PatientID'])))

CXRER=pd.merge(AnondataCXR, ChestXraycohort, on=('PatientID', 'StudyDate'))
CXRER2=pd.merge(Anondata2CXR, ChestXraycohort, on=('PatientID', 'StudyDate'))

CXRER_wodate=pd.merge(AnondataCXR, ChestXraycohort, on=('PatientID'))
CXRER2_wodate=pd.merge(Anondata2CXR, ChestXraycohort, on=('PatientID'))
CXRER_wodate.columns=['Filepath', 'PatientID', 'ProtocolName', 'PerformedProcedureStepDescription', 'BodyPartExamined', 'Modality', 'SeriesDescription', 'StudyDescription', 'StudyDate', 'StudyTime', 'person_id', 'visit_concept_id', 'visit_start_date', 'visit_end_date', 'AdmissionDate']
CXRER2_wodate.columns=['Filepath', 'PatientID', 'ProtocolName', 'PerformedProcedureStepDescription', 'BodyPartExamined', 'Modality', 'SeriesDescription', 'StudyDescription', 'StudyDate', 'StudyTime', 'person_id', 'visit_concept_id', 'visit_start_date', 'visit_end_date', 'AdmissionDate']

26405
31693

In [77]:
def datecal(row):
    return int(row['StudyDate'])-int(row['visit_start_date'])
CXRER_wodate['datecal']=CXRER_wodate.apply(datecal, axis=1)

In [78]:
CXRER_wodate.loc[(CXRER_wodate['datecal'] >= 0) & (CXRER_wodate['datecal'] <= 0)]

,Filepath,PatientID,ProtocolName,PerformedProcedureStepDescription,BodyPartExamined,Modality,SeriesDescription,StudyDescription,StudyDate,StudyTime,person_id,visit_concept_id,visit_start_date,visit_end_date,AdmissionDate,datecal
223,E:\PACS\PACS\bkpnew18\20060519\E1836137\I00033...,0293855,NA,RP3110,CHEST AP,CR,NA,NA,20060519,033210.000,1281368,9203,20060519,2006-05-19,0,0
1763,E:\PACS\PACS\bkpnew14\20090611\E4179510\I00100...,0363751,NA,NA,Chest,CR,Chest AP(PA),RP3110,20090611,151855,51536,262,20090611,2009-06-19,8,0
1816,E:\PACS\PACS\bkpnew13\20090611\E4177337\I00100...,0363751,NA,RP3110,CHEST,CR,RP3110,RP3110,20090611,053518,51536,262,20090611,2009-06-19,8,0
2135,E:\PACS\PACS\bkpnew13\20090612\E4181004\I00100...,1119323,NA,NA,CHEST (new born),CR,NA,NA,20090612,061314.000,1652738,9203,20090612,2009-06-12,0,0
2737,E:\PACS\PACS\bkpnew13\20090627\E4218980\I00101...,0810433,NA,RP3110,CHEST-PA,CR,NA,NA,20090627,004904.000,25372,262,20090627,2009-08-24,58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115377,H:\PACS\bkpnew6\20071115\E2896640\I00060507786...,7132173,NA,RP3110,CHEST AP,CR,NA,NA,20071115,042027.000,40214,262,20071115,2007-12-05,20,0
115505,H:\PACS\bkpnew6\20070725\E2667590\I00054016224...,0889767,NA,RP3110,CHEST AP,CR,NA,NA,20070725,005748.000,20745,262,20070725,2007-08-07,13,0
115771,H:\PACS\bkpnew6\20071110\E2886732\I00060229900...,0939705,NA,RP3110,CHEST-PA,CR,NA,NA,20071110,053619.000,1435547,9203,20071110,2007-11-10,0,0
116066,H:\PACS\bkpnew6\20071120\E2906700\I00060787506...,0942000,NA,RP3151,"CHEST,PED AP",CR,NA,NA,20071120,063224.000,1420737,9203,20071120,2007-11-20,0,0
116067,H:\PACS\bkpnew6\20071120\E2906700\I00060787507...,0942000,NA,RP3151,"CHEST,PED AP",CR,NA,NA,20071120,063224.000,1420737,9203,20071120,2007-11-20,0,0

In [165]:
BrainCTpath='C:Users/ABMI/Desktop/test/brainCTclass/brainCTother'
BrainCTlist = []
for (path, dir, files) in os.walk(BrainCTpath):
    for filename in files:
        ext = os.path.splitext(filename)[-1]
        if ext == '.dcm':
            filePath = "{0}/{1}".format(path, filename)
            BrainCTlist.append(filePath)

In [172]:
for i in BrainCTlist:
    metadata=pydicom.dcmread(i)
    if metadata.SeriesDescription =='Topogram  1.0  T20s':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head--topogram')
    elif metadata.StudyDescription =='Head^02_BRAIN_BONE_3D (Adult)' and metadata.SeriesDescription == 'Batch 1':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-precon')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 1':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 2':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 3':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == 'Batch 4':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-sagittal-MIP')
    elif metadata.SeriesDescription == '<VRT Collection>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head--VRT')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range[1]>':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-axial-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>[2]':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-coronal-MIP')
    elif metadata.StudyDescription =='Head^01_BRAIN_ANGIO (Adult)' and metadata.SeriesDescription == '<MIP Thin Range>[3]':
        shutil.copy(i, 'C:/Users/ABMI/Desktop/test/brainCTclass/head-sagittal-MIP')

In [185]:
vrtquery='''
select top(1000) * from (
select [Filepath], [ProtocolName], [PerformedProcedureStepDescription], [BodyPartExamined], [SeriesDescription], [StudyDescription]
from (
    SELECT * 
    FROM [pacsAnonData].[dbo].[AnonData] 
    where ProtocolName like '%head%' or PerformedProcedureStepDescription like '%head%' or BodyPartExamined like '%head%' or StudyDescription like '%head%') v 
where Modality in ('CT')) v
where SeriesDescription like '%vrt%' and ProtocolName not like '%omu%' and ProtocolName not like '%fac%' and ProtocolName not like '%temporal%' and ProtocolName not like '%orbit%' and StudyDescription not like '%fac%' and StudyDescription not like '%orbit%' and StudyDescription not like '%temporal%' and StudyDescription not like '%OMU%'
'''
vrt = pd.read_sql_query(vrtquery, cnxn)

In [ ]:
os.system('dcmdjpeg C:/Users/ABMI/Desktop/test/ziptest/19960618/E3466623/123.dcm C:/Users/ABMI/Desktop/test/ziptest/19960618/E3466623/asd.dcm')

In [274]:
ERbrainCTquery='''
select * from (select distinct visit.person_id, [visit_concept_id], [visit_start_date], [visit_end_date], datediff(Day, [visit_start_date], [visit_end_date]) as '입원날짜' from [CDMPv531].[dbo].[visit_occurrence] visit
join [CDMPv531].[dbo].[procedure_occurrence] pro on visit.person_id = pro.person_id and visit.visit_start_date = pro.procedure_date where visit_concept_id in (9203, 262) and procedure_concept_id in (select concept_id from [CDMPv531].[dbo].CONCEPT where concept_id in (4125350)and invalid_reason is null
UNION  select c.concept_id
  from [CDMPv531].[dbo].CONCEPT c
  join [CDMPv531].[dbo].CONCEPT_ANCESTOR ca on c.concept_id = ca.descendant_concept_id
  and ca.ancestor_concept_id in (4125350)
  and c.invalid_reason is null))v
'''
ERbrainCT = pd.read_sql_query(ERbrainCTquery, cnxn)

In [275]:
ERbrainCT[['person_id']].drop_duplicates().to_csv('C:/Users/ABMI/Desktop/test/ERbrainCT.csv')
emr=pd.read_csv('C:/Users/ABMI/Desktop/test/brainCTERresult.csv')[['person_id', 'emr']]

In [280]:
DW531=pd.merge(ERbrainCT, emr)
DW531.columns=['CDM531', 'visit_concept_id', 'visit_start_date', 'visit_end_date', '입원날짜', 'DW']
DW531

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW
0,21754,262,2007-06-01,2007-06-05,4,46626
1,21754,262,2012-08-20,2012-08-23,3,46626
2,21982,9203,2009-06-01,2009-06-02,1,3274
3,21982,9203,2012-11-24,2012-11-24,0,3274
4,21982,9203,2014-07-22,2014-07-22,0,3274
...,...,...,...,...,...,...
109447,3111008,262,2018-02-19,2018-03-05,14,296196
109448,3111081,9203,2015-07-19,2015-07-19,0,315722
109449,3111083,9203,2016-10-18,2016-10-18,0,456153
109450,3111521,9203,2010-10-12,2010-10-12,0,321058
109451,3112210,262,2001-06-09,2001-06-27,18,393788

In [277]:
DWemrquery='''
  SELECT * FROM [DW].[dbo].[PERSON_LIST]
'''
DWemr = pd.read_sql_query(DWemrquery, cnxn)

In [281]:
DWemr.columns=['DW', 'EMR']
EMR531=pd.merge(DW531, DWemr)
EMR531

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW,EMR
0,21754,262,2007-06-01,2007-06-05,4,46626,2233819
1,21754,262,2012-08-20,2012-08-23,3,46626,2233819
2,21982,9203,2009-06-01,2009-06-02,1,3274,1928539
3,21982,9203,2012-11-24,2012-11-24,0,3274,1928539
4,21982,9203,2014-07-22,2014-07-22,0,3274,1928539
...,...,...,...,...,...,...,...
109447,3111008,262,2018-02-19,2018-03-05,14,296196,0246366
109448,3111081,9203,2015-07-19,2015-07-19,0,315722,0265994
109449,3111083,9203,2016-10-18,2016-10-18,0,456153,0407103
109450,3111521,9203,2010-10-12,2010-10-12,0,321058,0271354
109451,3112210,262,2001-06-09,2001-06-27,18,393788,0344396

In [301]:
query='''
SELECT ro.study_id, ro.study_date, ro.person_id, ro.information, ri.series_id, ri.series_serial_number, ri.series_total_number, ri.file_path FROM [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_OCCURRENCE] ro, [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_IMAGE] ri where Protocol_Concept_ID='3004287' and ri.study_id=ro.study_id'''
BrainCTRCDM=pd.read_sql_query(query, engine)
BrainCTRCDM.rename(columns = {'person_id' : 'EMR'}, inplace = True)
BrainCT=pd.merge(EMR531, BrainCTRCDM, on='EMR')

2020-05-04 14:02:48,083 INFO sqlalchemy.engine.base.Engine
SELECT ro.study_id, ro.study_date, ro.person_id, ro.information, ri.series_id, ri.series_serial_number, ri.series_total_number, ri.file_path FROM [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_OCCURRENCE] ro, [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_IMAGE] ri where Protocol_Concept_ID='3004287' and ri.study_id=ro.study_id
2020-05-04 14:02:48,087 INFO sqlalchemy.engine.base.Engine {}

In [302]:
BrainCT

,CDM531,visit_concept_id,visit_start_date,visit_end_date,입원날짜,DW,EMR,study_id,study_date,information,series_id,series_serial_number,series_total_number,file_path
0,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161433,2009-07-16,"na,na,head,head^05 brain 3d (adult)",1.3.12.2.1107.5.1.4.50373.30010009071414372933...,1,24,E:\PACS\PACS\bkpnew15\20090716\E4264805\I00103...
1,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161433,2009-07-16,"na,na,head,head^05 brain 3d (adult)",1.3.12.2.1107.5.1.4.50373.30010009071414372933...,2,24,E:\PACS\PACS\bkpnew15\20090716\E4264805\I00103...
2,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161433,2009-07-16,"na,na,head,head^05 brain 3d (adult)",1.3.12.2.1107.5.1.4.50373.30010009071414372933...,3,24,E:\PACS\PACS\bkpnew15\20090716\E4264805\I00103...
3,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161433,2009-07-16,"na,na,head,head^05 brain 3d (adult)",1.3.12.2.1107.5.1.4.50373.30010009071414372933...,4,24,E:\PACS\PACS\bkpnew15\20090716\E4264805\I00103...
4,33533,9203,2007-11-16,2007-11-16,0,60965,0009083,1.2.410.2000010.82.220.10907161433,2009-07-16,"na,na,head,head^05 brain 3d (adult)",1.3.12.2.1107.5.1.4.50373.30010009071414372933...,5,24,E:\PACS\PACS\bkpnew15\20090716\E4264805\I00103...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130695,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study ¡Æe¡íc,na,study ¡...",1.2.840.113704.1.111.896.1178592965.13,26,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651513...
130696,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study ¡Æe¡íc,na,study ¡...",1.2.840.113704.1.111.896.1178592965.13,27,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651514...
130697,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study ¡Æe¡íc,na,study ¡...",1.2.840.113704.1.111.896.1178592965.13,28,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651515...
130698,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study ¡Æe¡íc,na,study ¡...",1.2.840.113704.1.111.896.1178592965.13,29,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651516...
130699,3106340,9203,2018-06-08,2018-06-08,0,426555,0377352,1.2.840.113704.1.111.896.1178592742.1,2007-05-08,"perfusion(diamox)/head,study ¡Æe¡íc,na,study ¡...",1.2.840.113704.1.111.896.1178592965.13,30,30,H:\PACS\bkpnew6\20070508\E2467960\I00049651517...

In [309]:
import numpy as np
len(np.unique(BrainCT.loc[BrainCT['입원날짜'] > 0]['study_id']))

346

In [311]:
BrainCT.loc[BrainCT['입원날짜'] > 0].to_csv('C:/Users/ABMI/Desktop/test/admin.csv')

In [283]:
BrainCT[['file_path']].to_csv('C:/Users/ABMI/Desktop/test/filepath.csv')

In [286]:
BrainCT[['study_id']].drop_duplicates()

                                      study_id
0           1.2.410.2000010.82.220.10907161433
69          1.2.410.2000010.82.220.10907161476
241         1.2.410.2000010.82.220.10905030363
525         1.2.410.2000010.82.220.10907211071
835     1.2.840.113704.1.111.9780.1252033310.1
...                                        ...
129137      1.2.410.2000010.82.220.10906021735
129878      1.2.410.2000010.82.220.10907131015
130171      1.2.410.2000010.82.220.10908290285
130451  1.2.840.113704.1.111.7668.1248154611.1
130517   1.2.840.113704.1.111.896.1178592742.1

[647 rows x 1 columns]

In [284]:
from collections import Counter
Counter(BrainCT['입원날짜'])

Counter({0: 64948,
         1: 23992,
         55: 155,
         2: 3708,
         3: 3969,
         132: 22,
         5: 2305,
         11: 2131,
         4: 2969,
         23: 564,
         13: 2568,
         17: 471,
         6: 1529,
         15: 1441,
         9: 807,
         7: 3372,
         30: 29,
         18: 785,
         32: 294,
         26: 288,
         31: 288,
         8: 2001,
         14: 1228,
         28: 909,
         12: 839,
         25: 662,
         19: 743,
         57: 218,
         21: 1186,
         16: 1640,
         29: 333,
         91: 31,
         10: 865,
         81: 9,
         69: 280,
         20: 341,
         143: 280,
         53: 287,
         99: 287,
         78: 121,
         24: 47,
         22: 357,
         47: 397,
         37: 316,
         122: 34,
         34: 285,
         58: 369})

In [227]:
import sqlalchemy
engine=sqlalchemy.create_engine('mssql+pymssql://hihipch:gks1dls!@128.1.99.58/ID_XYLITOL_WHITE', echo=True)

In [229]:
EMR531.to_sql(
name='BrainCT531EMR', 
con=engine,
index=False, 
if_exists='fail')

2020-05-01 14:18:57,622 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2020-05-01 14:18:57,624 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'BrainCT531EMR', 'table_schema_1': 'dbo'}
2020-05-01 14:18:57,888 INFO sqlalchemy.engine.base.Engine
CREATE TABLE [BrainCT531EMR] (
	[CDM531] BIGINT NULL,
	visit_concept_id BIGINT NULL,
	visit_start_date VARCHAR(max) NULL,
	visit_end_date VARCHAR(max) NULL,
	[입원날짜] BIGINT NULL,
	[DW] BIGINT NULL,
	[EMR] VARCHAR(max) NULL
)


2020-05-01 14:18:57,889 INFO sqlalchemy.engine.base.Engine {}
2020-05-01 14:18:57,965 INFO sqlalchemy.engine.base.Engine COMMIT
2020-05-01 14:18:58,011 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-05-01 14:19:14,073 INFO sqlalchemy.engine.base.Engine INSERT INTO [BrainCT531EMR] ([CDM531], visit_concept_id, visit_start_date, visit_end_date, [입원날짜], [DW], [EMR]) VALUES (%(CDM531)s, %(visit_concept_id)s, %(visit_start_date)s, %(visit_end_date)s, %(입원날짜)s, %(DW)s, %(EMR)s)
2020-05-01 14:19:14,074 INFO sqlalchemy.engine.base.Engine ({'CDM531': 21754, 'visit_concept_id': 262, 'visit_start_date': '2007-06-01', 'visit_end_date': '2007-06-05', '\uc785\uc6d0\ub0a0\uc9dc': 4, 'DW': 46626, 'EMR': '2233819'}, {'CDM531': 21754, 'visit_concept_id': 262, 'visit_start_date': '2012-08-20', 'visit_end_date': '2012-08-23', '\uc785\uc6d0\ub0a0\uc9dc': 3, 'DW': 46626, 'EMR': '2233819'}, {'CDM531': 21982, 'visit_concept_id': 9203, 'visit_start_date': '2009-06-01', 'visit_end_date': '2009-06-02', '\uc785\uc6d0\ub0a0\uc9dc': 1, 'DW': 3274, 'EMR': '1928539'}, {'CDM531': 21982, 'visit_concept_id': 9203, 'visit_start_date': '2012-11-24', 'visit_end_date': '2012-11-24', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 3274, 'EMR': '1928539'}, {'CDM531': 21982, 'visit_concept_id': 9203, 'visit_start_date': '2014-07-22', 'visit_end_date': '2014-07-22', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 3274, 'EMR': '1928539'}, {'CDM531': 21982, 'visit_concept_id': 9203, 'visit_start_date': '2015-01-23', 'visit_end_date': '2015-01-23', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 3274, 'EMR': '1928539'}, {'CDM531': 23197, 'visit_concept_id': 9203, 'visit_start_date': '2001-05-30', 'visit_end_date': '2001-05-30', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 38037, 'EMR': '2161287'}, {'CDM531': 25261, 'visit_concept_id': 262, 'visit_start_date': '2005-10-11', 'visit_end_date': '2005-10-11', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 49081, 'EMR': '2255502'}  ... displaying 10 of 109452 total bound parameter sets ...  {'CDM531': 3111521, 'visit_concept_id': 9203, 'visit_start_date': '2010-10-12', 'visit_end_date': '2010-10-12', '\uc785\uc6d0\ub0a0\uc9dc': 0, 'DW': 321058, 'EMR': '0271354'}, {'CDM531': 3112210, 'visit_concept_id': 262, 'visit_start_date': '2001-06-09', 'visit_end_date': '2001-06-27', '\uc785\uc6d0\ub0a0\uc9dc': 18, 'DW': 393788, 'EMR': '0344396'})
2020-05-01 14:21:54,336 INFO sqlalchemy.engine.base.Engine COMMIT
2020-05-01 14:21:54,432 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2020-05-01 14:21:54,433 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}

2020-05-01 14:29:40,779 INFO sqlalchemy.engine.base.Engine
SELECT ro.study_date, ro.person_id, ro.information, ri.series_serial_number, ri.series_total_number, ri.file_path FROM [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_OCCURRENCE] ro, [ID_XYLITOL_WHITE].[dbo].[RADIOLOGY_IMAGE] ri where Protocol_Concept_ID='3004287' and ri.study_id=ro.study_id
2020-05-01 14:29:40,781 INFO sqlalchemy.engine.base.Engine {}

,study_date,person_id,information,series_serial_number,series_total_number,file_path
0,2005-05-21,1341039,"01_with_contrast,na,head,(er) brain ct c contr...",1,2,E:\PACS\PACS\bkpnew18\20050521\E1764330\I00031...
1,2005-05-21,1341039,"01_with_contrast,na,head,(er) brain ct c contr...",2,2,E:\PACS\PACS\bkpnew18\20050521\E1764330\I00031...
2,2005-05-21,1341039,"01_with_contrast,na,head,(er) brain ct c contr...",1,27,E:\PACS\PACS\bkpnew18\20050521\E1764330\I00031...
3,2005-05-21,1341039,"01_with_contrast,na,head,(er) brain ct c contr...",2,27,E:\PACS\PACS\bkpnew18\20050521\E1764330\I00031...
4,2005-05-21,1341039,"01_with_contrast,na,head,(er) brain ct c contr...",3,27,E:\PACS\PACS\bkpnew18\20050521\E1764330\I00031...
...,...,...,...,...,...,...
3026625,2009-08-21,7005268,"brain angio/head,c-t brain angio c contrast,n...",28,30,E:\PACS\PACS\bkpnew15\20090821\E4349445\I00106...
3026626,2009-08-21,7005268,"brain angio/head,c-t brain angio c contrast,n...",29,30,E:\PACS\PACS\bkpnew15\20090821\E4349445\I00106...
3026627,2009-08-21,7005268,"brain angio/head,c-t brain angio c contrast,n...",30,30,E:\PACS\PACS\bkpnew15\20090821\E4349445\I00106...
3026628,2009-08-21,7005268,"brain angio/head,c-t brain angio c contrast,n...",1,1,E:\PACS\PACS\bkpnew15\20090821\E4349445\I00106...
3026629,2009-08-21,7005268,"brain angio/head,c-t brain angio c contrast,n...",1,1,E:\PACS\PACS\bkpnew15\20090821\E4349445\I00106...